/*
 * Hover.css - Demo Page
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */

/**
 * The following are default styles for the demo page,
 * you don't need to include these on your own site.
 */

@import url(http://fonts.googleapis.com/css?family=Roboto);

body
{
  color: #333;
  font-family: sans-serif;
  line-height: 140%;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 20px 20px 20px;
}

.browsehappy
{
  background: black;
  color: white;
  left: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

img
{
  border: none;
}

small
{
  display: block;
}

p,
[class^="hvr-"]
{
  font-family: 'Roboto', sans-serif;
}

[class^="hvr-"]
{
  /*display: inline-block;*/
        /*vertical-align: middle;*/
        background: #e1e1e1;
  color: #666;
  cursor: pointer;
  margin: .4em;
  padding: 1em;
  text-decoration: none;
        /* Prevent highlight colour when element is tapped */
  webkit-tap-highlight-color: rgba(0,0,0,0);
}

.aligncenter
{
  text-align: center;
}

.sup
{
  border: #eee solid 1px;
  border-radius: 4px;
  color: inherit;
  font-size: .21875em;
  line-height: 100%;
  margin-left: -1em;
  padding: .21875em;
  vertical-align: super;
}

.sup:hover
{
  background: #eee;
}

a
{
  color: #2098D1;
  text-decoration: none;
}

.footer a:hover,
.tutorial:hover
{
  color: #207AD1;
}

.tutorial
{
  display: inline-block;
  font-size: .8em;
  font-weight: bold;
}

.tutorial:hover,
.tutorial:focus,
.tutorial:active
{
  text-decoration: none;
}

.intro
{
  margin: 20px auto 0 auto;
  max-width: 680px;
}

.button.cta
{
  background: #2098D1;
  border: none;
  color: white;
  display: inline-block;
  font-weight: 700;
  margin: 1.2em 0 1em 0;
  padding: 1em;
  position: relative;
  text-decoration: none;
}

.effects
{
  margin-top: 6em;
}

h1
{
  font-size: 4em;
  text-align: center;
}

h2
{
  margin-top: 2em;
}

.about
{
  border-bottom: #333 solid 2px;
  border-top: #333 solid 2px;
}

.footer
{
  font-size: .9em;
  margin-top: 6em;
  overflow: hidden;
  width: auto;
}

.footer a
{
  text-decoration: none;
}

.credit
{
  font-size: .8em;
  font-weight: normal;
}

.social
{
  margin-top: 2.6em;
}

.social-button
{
  display: inline-block;
  vertical-align: middle;
}

.twitter-follow-button
{
  display: block;
  margin: 0 auto;
}

.follow
{
  line-height: 200%;
  margin-bottom: 20px;
}

.author
{
  font-weight: 900;
  margin: 6em auto 0 auto;
  text-align: center;
}

.author [class^="hvr-"]
{
  background: transparent;
}

.author .logo
{
  display: block;
  margin-bottom: .8em;
}

#forkongithub
{
  display: none;
}

#forkongithub a
{
  background: #000;
  color: #fff;
  font-family: arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
  padding: 5px 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  webkit-transition: 0.5s;
}

#forkongithub a:hover,
#forkongithub a:focus,
#forkongithub a:active
{
  background: #2098D1;
  color: #fff;
}

#forkongithub a::before,
#forkongithub a::after
{
  background: #fff;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 100%;
}

#forkongithub a::after
{
  bottom: 1px;
  top: auto;
}

@media screen and (min-width: 640px)
{
  #forkongithub
  {
    display: block;
    height: 200px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
  }
  #forkongithub a
  {
    box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
    ms-transform: rotate(45deg);
    position: absolute;
    right: -60px;
    top: 60px;
    transform: rotate(45deg);
    webkit-transform: rotate(45deg);
    width: 200px;
  }
}