/*
 * Hover.css - Demo Page
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */

body {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  font-family: sans-serif;
  color: #333;
  line-height: 140%;
}

img {
  border: none;
}

.aligncenter {
  text-align: center;
}

.intro {
  max-width: 680px;
  margin: 0 auto;
}

.button.cta {
  display: inline-block;
  position: relative;
  margin: 2em 0 1em 0;
  padding: 1em;
  background: #2098D1;
  border: none;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

#effects {
  margin-top: 5em;
}

h1 {
  text-align: center;
  font-size: 4em;
}

h2 {
  margin-top: 2em;
}

.about {
  border-top: #333 solid 2px;
  border-bottom: #333 solid 2px;
}

.footer {
  overflow: hidden;
  width: auto;
  margin-top: 6em;
  font-size: .9em;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.social {
  margin-top: 2em;
}

.social-button {
  display: inline-block;
  vertical-align: middle;
}

.author {
  margin: 6em auto 0 auto;
  text-align: center;
  font-weight: 900;
}