/*
 * Hover.css (http://ianlunn.co.uk/)
 * Version: 1.0.1
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */

@import "effects/variables";
@import "effects/hacks";
@import "effects/button";
@import "effects/grow";
@import "effects/shrink";
@import "effects/pulse";
@import "effects/pulse-grow";
@import "effects/pulse-shrink";
@import "effects/push";
@import "effects/pop";
@import "effects/rotate";
@import "effects/grow-rotate";
@import "effects/float";
@import "effects/sink";
@import "effects/hover";
@import "effects/hang";
@import "effects/skew";
@import "effects/skew-forward";
@import "effects/wobble-vertical";
@import "effects/wobble-horizontal";
@import "effects/wobble-top";
@import "effects/wobble-bottom";
@import "effects/border-fade";
@import "effects/hollow";
@import "effects/trim";
@import "effects/outline-outward";
@import "effects/outline-inward";
@import "effects/round-corners";
@import "effects/glow";
@import "effects/box-shadow-outset";
@import "effects/box-shadow-inset";
@import "effects/float-shadow";
@import "effects/hover-shadow";
@import "effects/shadow-radial";
@import "effects/bubble-top";
@import "effects/bubble-right";
@import "effects/bubble-bottom";
@import "effects/bubble-left";
@import "effects/bubble-float-top";
@import "effects/bubble-float-right";
@import "effects/bubble-float-bottom";
@import "effects/bubble-float-left";
@import "effects/curl-top-left";
@import "effects/curl-top-right";
@import "effects/curl-bottom-right";
@import "effects/curl-bottom-left";

/* BASE BUTTON */
.button {
	@include button();
}

/* 2D TRANSITIONS */

.grow {
	@include grow();
}

.shrink {
	@include shrink();
}

.pulse {
	@include pulse();
}

.pulse-grow{
	@include pulse-grow();
}

.pulse-shrink{
	@include pulse-shrink();
}

.push{
	@include push();
}

.pop{
	@include pop();
}

.rotate{
	@include rotate();
}

.grow-rotate{
	@include grow-rotate();
}

.float{
	@include float();
}

.sink{
	@include sink();
}

.hover{
	@include hover();
}

.hang{
	@include hang();
}

.skew{
	@include skew();
}

.skew-forward{
	@include skew-forward();
}

.wobble-vertical{
	@include wobble-vertical();
}

.wobble-horizontal{
	@include wobble-horizontal();
}

.wobble-top{
	@include wobble-top();
}

.wobble-bottom{
	@include wobble-bottom();
}

/* BORDER TRANSITIONS */

.border-fade{
	@include border-fade();
}

.hollow{
	@include hollow();
}

.trim{
	@include trim();
}

.outline-outward{
	@include outline-outward();
}

.outline-inward{
	@include outline-inward();
}

.round-corners{
	@include round-corners();
}

/* SHADOW/GLOW TRANSITIONS */

.glow{
	@include glow();
}

.box-shadow-outset{
	@include box-shadow-outset();
}

.box-shadow-inset{
	@include box-shadow-inset();
}

.float-shadow{
	@include float-shadow();
}

.hover-shadow{
	@include hover-shadow();
}

.shadow-radial{
	@include shadow-radial();
}

/* SPEECH BUBBLES */

.bubble-top{
	@include bubble-top();
}

.bubble-right{
	@include bubble-right();
}

.bubble-bottom{
	@include bubble-bottom();
}

.bubble-left{
	@include bubble-left();
}

.bubble-float-top{
	@include bubble-float-top();
}

.bubble-float-right{
	@include bubble-float-right();
}

.bubble-float-bottom{
	@include bubble-float-bottom();
}

.bubble-float-left{
	@include bubble-float-left();
}

/* CURLS */

.curl-top-left{
	@include curl-top-left();
}

.curl-top-right{
	@include curl-top-right();
}

.curl-bottom-right{
	@include curl-bottom-right();
}

.curl-bottom-left{
	@include curl-bottom-left();
}