/* Border Fade */
@mixin border-fade {
	display: inline-block;
	$borderWidth: 4px;

	transition-duration: $defaultDuration;
	transition-property: box-shadow;

	@include hideTapHighlightColor();
	@include hardwareAccel();
	box-shadow: 
			inset 0 0 0 $borderWidth $primaryColour,
			0 0 1px rgba(0, 0, 0, 0); /* Hack to improve aliasing on mobile/tablet devices */ 
	
	&:hover {
		box-shadow: 
			inset 0 0 0 $borderWidth $secondaryColour,
			0 0 1px rgba(0, 0, 0, 0); /* Hack to improve aliasing on mobile/tablet devices */
	}
}