/* Round Corners */
@mixin round-corners {
	display: inline-block;
	transition-duration: $defaultDuration;
	transition-property: border-radius;

	@extend %hacks;

	&:hover {
		border-radius: 1em;
	}
}