/* Box Shadow Outset */
@mixin box-shadow-outset {
	display: inline-block;
	transition-duration: $defaultDuration;
	transition-property: box-shadow;

	@include hacks();

	&:hover {
		box-shadow: 2px 2px 2px $shadowColour;
	}
}