/* Hollow */
@mixin hollow {
	display: inline-block;
	$borderWidth: 4px;
	@include prefixed(transition-duration, $defaultDuration);
	@include prefixed(transition-property, background);

	@include hardwareAccel();
	box-shadow:
		inset 0 0 0 $borderWidth $primaryColour,
		0 0 1px rgba(0, 0, 0, 0); /* Hack to improve aliasing on mobile/tablet devices */

	&:hover,
	&:focus,
	&:active {
		background: none;
	}
}
