/* Pulse Grow */
@keyframes pulse-grow {
	to {
		transform: scale(1.1);
	}
}

@mixin pulse-grow {
	display: inline-block;

	@include hacks();

	&:hover {
		animation-name: pulse-grow;
		animation-duration: $defaultDuration;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
}