/* Sink */
@mixin sink {
	@include prefixed(transition-duration, $defaultDuration);
	@include prefixed(transition-property, transform);
	@include prefixed(transition-timing-function, ease-out);

	@include hacks();

	&:hover,
	&:focus,
	&:active {
		@include prefixed(transform, translateY(6px));
	}
}
