/* Wobble Bottom */
@keyframes wobble-bottom {
	16.65% {
		transform: skew(-12deg);
	}

	33.3% {
		transform: skew(10deg);
	}

	49.95% {
		transform: skew(-6deg);
	}

	66.6% {
		transform: skew(4deg);
	}

	83.25% {
		transform: skew(-2deg);
	}

	100% {
		transform: skew(0);
	}
}

@mixin wobble-bottom {
	display: inline-block;
	transform-origin: 100% 0;

	@include hacks();

	&:hover {
		animation-name: wobble-bottom;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
	}
}