/* Wobble Skew */
@include keyframes(wobble-skew) {
	16.65% {
		@include prefixed(transform, skew(-12deg));
	}

	33.3% {
		@include prefixed(transform, skew(10deg));
	}

	49.95% {
		@include prefixed(transform, skew(-6deg));
	}

	66.6% {
		@include prefixed(transform, skew(4deg));
	}

	83.25% {
		@include prefixed(transform, skew(-2deg));
	}

	100% {
		@include prefixed(transform, skew(0));
	}
}

@mixin wobble-skew {
	display: inline-block;

	@include hacks();

	&:hover,
	&:focus,
	&:active {
		@include prefixed(animation-name, wobble-skew);
		@include prefixed(animation-duration, 1s);
		@include prefixed(animation-timing-function, ease-in-out);
		@include prefixed(animation-iteration-count, 1);
	}
}
