/* Grow Rotate */
@mixin grow-rotate {
	display: inline-block;
	transition-duration: $defaultDuration;
	transition-property: transform;

	@include hacks();
	
	&:hover {	
		transform: scale(1.1) rotate(4deg);
	}
}