/* Trim */
@mixin trim {
	display: inline-block;
	$outerBorderWidth: 4px;
	$innerBorderWidth: 4px;

	position: relative;

	@include hacks();

	&:before {
		content: '';
		position: absolute;
		border: white solid $innerBorderWidth;
		top: $outerBorderWidth;
		left: $outerBorderWidth;
		right: $outerBorderWidth;
		bottom: $outerBorderWidth;
		opacity: 0;
		transition-duration: $defaultDuration;
		transition-property: opacity;
	}

	&:hover:before {
		opacity: 1;
	}
}