/* Push Out */
@mixin push-out {
	@include hacks();
	position: relative;
	@include prefixed(transform, perspective(200px) translateY(8px) translateZ(-10px));
	@include prefixed(transition-duration, $mediumDuration);
	@include prefixed(transition-property, "transform");

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 0;
		background: $highlightColor;
		@include prefixed(transform, perspective(200px) translateZ(0) rotateX(-60deg));
		@include prefixed(transform-origin, 50% 0);
		@include prefixed(transition-duration, $mediumDuration);
		@include prefixed(transition-property, height);
	}

	&:hover,
	&:active,
	&:focus {
		@include prefixed(transform, perspective(200px) translateY(0) translateZ(0));

		&:after {
			height: 10px;
		}
	}
}
