/* Fade */
@mixin fade {
	@include hacks();
	overflow: hidden;
	@include prefixed(transition-duration, $mediumDuration);
	@include prefixed(transition-property, "color, background-color");

	#{$hoverSelector} {
		background-color: $activeColor;
		color: white;
	}
}
