/* Shutter In Horizontal */
@mixin shutter-in-horizontal {
	@include hacks();
	background: $primaryColor;
	position: relative;
	overflow: hidden;
	@include prefixed(transition-property, color);
	@include prefixed(transition-duration, $mediumDuration);

	&:before,
	&:after {
		content: "";
		position: absolute;
		width: 50%;
		z-index: -1;
		top: 0;
		bottom: 0;

		background: $activeColor;
		@include prefixed(transition-property, transform);
		@include prefixed(transition-duration, $mediumDuration);
		@include prefixed(transition-timing-function, ease-out);
	}

	&:before {
		left: 0;
		@include prefixed(transform, translateX(-100%));
	}

	&:after {
		left: 50%;
		@include prefixed(transform, translateX(100%));
	}

	&:hover,
	&:focus,
	&:active {
		color: white;

		&:before,
		&:after {
			@include prefixed(transform, translateX(0));
		}
	}
}
