/* Shutter Out Vertical */
@mixin shutter-out-vertical {
	@include hacks();
	background: $activeColor;
	position: relative;
	overflow: hidden;
	@include prefixed(transition-property, color);
	@include prefixed(transition-duration, $mediumDuration);

	&:before,
	&:after {
		content: "";
		position: absolute;
		height: 50%;
		z-index: -1;
		left: 0;
		right: 0;
		background: $primaryColor;
		@include prefixed(transition-property, transform);
		@include prefixed(transition-duration, $mediumDuration);
		@include prefixed(transition-timing-function, ease-out);
	}

	&:before {
		top: 0;
	}

	&:after {
		top: 50%;
	}

	&:hover,
	&:focus,
	&:active {
		color: white;

		&:before {
		@include prefixed(transform, translateY(-100%));
		}

		&:after {
			@include prefixed(transform, translateY(100%));
		}
	}
}
