/* Icon Sink Away */
@include keyframes(#{$nameSpace}-icon-sink-away) {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		@include prefixed(transform, translateY(1em));
	}
}

/* Icon Sink Away */
@mixin icon-sink-away {
	@include hacks();
	position: relative;
	padding-right: #{$spaceBetweenTextAndArrows};

	&:before,
	&:after {
		content: "\f056";
		position: absolute;
		right: 1em;
		padding: 0 1px;
		font-family: FontAwesome;
		@include prefixed(transform, translateZ(0));
	}

	&:after {
		opacity: 0;
		@include prefixed(animation-duration, #{$slowDuration});
		@include prefixed(animation-fill-mode, forwards);
	}

	&:hover,
	&:focus,
	&:active {

		&:after {
			@include prefixed(animation-name, #{$nameSpace}-icon-sink-away);
			@include prefixed(animation-timing-function, ease-out);
		}
	}
}
